<%- contentFor('title') %>Orders
<%- contentFor('body') %>
<h1 class="mb-4">Orders</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Email</th>
      <th>Total</th>
      <th>Status</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(o => { %>
      <tr>
        <td><%= o.id %></td>
        <td><%= o.user_name %></td>
        <td><%= o.user_email %></td>
        <td>$<%= o.total %></td>
        <td><span class="badge bg-secondary"><%= o.status %></span></td>
        <td><%= o.created_at %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
